.Background {
  background-color: lightgrey;
  display : flex;
  justify-content : center;
  align-items : center;
}
.Container{
  display : flex;
  flex-direction : row;
  width : 850px;
  height : 390px;
  margin : 100px;
  border : 3px solid black;
  padding : 20px;
  background-color : grey;
  border-radius : 15px;
  align-items : center;
}
.img_Container{
  margin-top: 20px;
  width : 300px;
  height : 60px;
  align-items: center;
  line-height: 9px;
  display : flex;
}

.header_text p{
  font-size : 20px;
  font-weight : bold;
  text-align : left;
  color : white;
}

.Welcome_text{
  width : 450px;
  margin-top : 40px;
  margin-left : 15px;
}

.Dp{
  display : flex;
  margin : 5px;
}

.Dp > button{
  width : 130px;
  height : 100px;
  margin : 10px;
  border : 0px;
  display : flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color : white;
}

.Dp > button:hover {
  background-color: orange; 
}

.Dp > button:focus {
  background-color: orange; 
}

.Dp > button:active {
  background-color: #E69500; 
}


.Wel_1st{
  margin-bottom : 40px;
}

.Login_Window{
  margin-left : 50px;
  margin-right : 50px;
  display : flex; 
  flex-direction : column;
  width : 400px;
  height : 220px;
  align-items : center;
  background-color: #101123;
  border-radius : 15px;
}

.Login_content > *{
  margin : 10px;
  display : flex;
  width : 200px;
  height : 38px;
  border-radius: 19px;
  background-color : white;
  border : 0px;
  color : grey;
  align-items: center;
}

.Login_content > * > span{
  margin : 10px;
}
.Login_content > * > input{
  height : 80%;
  border : none;
  width : 70%;
}

.Login_Button{
  width : 250px;
  height : 35px;
  border-radius: 20px;
  margin-top : 10px;
  margin-bottom : 20px;
  background-color: orange;
  font-size : 12px;
  font-weight : bold;
  border : none;
}
.Login_Button:hover {
  background-color: #E69500; 
}

.Login_Button:active {
  background-color: #c27f03; 
}
